services:
<<<<<<< HEAD
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  worker:
    build: .
    # ВАЖНО: имя после -A должно совпадать с названием твоего файла
    command: celery -A celery_worker.celery_app worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

=======
    redis:
        image: redis:7-alpine
        ports:
            - "6379:6379"

    web:
        build: .
        command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
        volumes:
            - .:/app
        ports:
            - "8000:8000"
        environment:
            - REDIS_HOST=redis
        depends_on:
            - redis

    worker:
        build: .
        # ВАЖНО: имя после -A должно совпадать с названием твоего файла
        command: celery -A celery_worker.celery_app worker --loglevel=info
        volumes:
            - .:/app
        environment:
            - REDIS_HOST=redis
        depends_on:
            - redis
>>>>>>> nevamind-develop
